**Karta Postaci:** {CharacterSheetUrl}

**Tematy zastrzeżone:**
{Triggers}

**Stan:**
Zdrowy.

**Przedmioty specjalne:**
Brak.

**Reputacja:**
- Pozytywna:
- Neutralna: Deyja, Erathia, Mythar, Mirvenis-Adur, Thuzal, Nithal, Werbin, NH, Steadwick, Enroth
- Negatywna:

**Dodatkowe informacje:**
{AdditionalInfo}

**Opisane sesje:**

[[_TOC_]]
