**Karta Postaci:** {CharacterSheetUrl}

**Tematy zastrzeżone:**
{Triggers}

**Stan:** 
Zdrowy.

**Przedmioty specjalne:**  
Brak.

**Reputacja:** 
- Pozytywna: 
- Neutralna: Tuzmer, Ithan, Mythar, Mirvenis-Adur, Thuzal, Nithal, Werbin, KH, Torneg, Eder
- Negatywna: 

**Dodatkowe informacje:** 
{AdditionalInfo}

**Opisane sesje:**

[[_TOC_]]
